@charset "ISO-8859-1";
body{
	display:block;
	margin-left: auto;
	margin-right: auto;
}
h1{
	color: white; 
	font-family: "Gabriola";
	font-size: 4em;
	text-align: center;
	text-shadow: 7px 4px 5px black;
	background: rgba(0, 0, 0, 0.6); 
	
}
form{
	background: rgba(255, 255, 255, 0.4); 
	text-align: center;
	font-size: 2em;
	width: 25%;
	height: 20%;
	border-radius: 10px;
	margin: auto;
	border: 3px solid #000000;
}
.ingreso{
	border-radius: 10px;
}
.aceptar{
	border: 1px solid #000000; 
padding: 2px; /*espacio alrededor texto*/
background-color: rgba(255, 255, 255, 0.4); /*color botón*/
color: #000000; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
font-weight: bolder;
border-radius: 20px; /*bordes redondos*/

}
div {
	background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210423/pngtree-rustic-textured-paper-vintage-background-image_658219.jpg);
	width: 52%;
	height: 50%;
	left: 30%;
	margin: auto;
	padding: 3px 10px;
  	border: black 5px solid;
  	border-radius: 20px;
}
figure {
	border: 2px solid black;
	border-radius: 5px;
	padding: 0; 
	margin: 7;
	left: 5%;
	right: 5%;
	top: 9%; 
	display: inline-block; 
	position: relative; 
}

figcaption {
	background: rgba(255, 255, 255, 0.2);
	text-align: center;
	font-weight: bold;
	font-family: "Cambria";
	
}

.boton {
border: 3px solid #000000; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: rgba(255, 255, 255, 0.4); /*color botón*/
color: #000000; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
font-weight: bolder;
border-radius: 20px; /*bordes redondos*/
position: relative;
  left: 40%;
}
