@charset "ISO-8859-1";
h1{
	color: white; 
	font-family: "Gabriola";
	font-size: 4em;
	text-align: center;
	text-shadow: 7px 4px 5px black;
	background: rgba(0, 0, 0, 0.6); 
}
.descripcion{
	background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210423/pngtree-rustic-textured-paper-vintage-background-image_658219.jpg);
	width: 30%;
	height: 30%;
	left: 30%;
	margin: auto;
	padding: 3px 10px;
  	border: black 5px solid;
  	border-radius: 20px;
  	font-weight: bold;
	font-family: "Verdana";
	font-size: 1.6em;
	color: white; 
	-webkit-text-stroke: 1.7px black;
}
.atracciones{
	color: white; 
	font-family: "Verdana";
	font-size: 1.3em;
	text-align: left;
	text-shadow: 7px 4px 5px black;
	background: rgba(0, 0, 0, 0.6); 
}